<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${rut}"></p>
<form method="post" th:action="@{/cuota/cuotaMunicipal}">
    <input type="hidden" name="rut" th:value="${rut}"/>
    <label for="cantCuotas" > Ingrese la cantidad de cuotas: </label>
    <select name="cantCuotas" id="cantCuotas">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
    </select>
    <br>
    <button type="submit">Generar cuotas</button>

</form>


<a th:href="@{/}">
    Volver al menú de inicio
</a>



</body>
</html>