<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Formulario de tipo de pago</h1>
<form method="post" th:action="@{/cuota/generar-cuotas}">
    <label for="rut">Ingrese el rut a realizar el formulario:</label>
    <input type="rut" id="rut" name="rut">
    <br>

    <label for="tipoPago">Seleccionar forma de pago:</label>
    <select id="tipoPago" name="tipoPago">
        <option value="">Selecciona el tipo de pago</option>
        <option value=1>Al contado</option>
        <option value=2>A cuotas</option>
    </select>


    <!-- faltan botones -->
    <!-- Para que pedir el rut en esta vista, si podemos pedrila en la siguiente
     se perdería algo de sentido eso si, pero es la respuesta sencilla al problema-->

    <input type="submit" value="Enviar">
</form>
</body>
</html>