<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TopEducation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>RUT</th>
            <th>Numero de cuota</th>
            <th>Monto</th>
            <th>Fecha de emisión</th>
            <th>EstadoCuota</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cuota:${cuotas}">
            <td th:text="${cuota.rut}"></td>
            <td th:text="${cuota.numero_cuota}"></td>
            <td th:text="${cuota.monto_variable}"></td>
            <td th:text="${cuota.fecha_cuota}"></td>
            <td th:text="${cuota.estado_pago}"></td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="http://localhost:8090" class="boton">Volver al menú de inicio</a>
</div>
</body>
</html>