<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menú topEducation</title>
</head>
<body>

<h1>TopEducation</h1>

<a th:href="@{/estudiante/nuevo-estudiante}">
    Ingresar estudiante
</a>

<a th:href="@{/cuota/generar-cuotas}">
    Generar cuotas
</a>

<a th:href="@{/cuota/rut-estudiante-listar}">
    Buscar cuotas de un estudiante
</a>

<a th:href="@{/cuota/rut-estudiante-listar-p}">
    Pagar cuotas estudiante
</a>

<a th:href="@{/cargar-archivo}">
    Subida de archivos
</a>

<a th:href="@{/estudiante/resumen-estado-pago}">
    Resumen de estado de pagos
</a>


</body>
</html>