<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menú topEducation</title>
</head>
<body>
<a href="http://localhost:8090/estudiante/nuevo-estudiante" class="boton">Ingresar estudiante</a>

<a href="http://localhost:8090/cuota/generar-cuotas" class="boton">Generar cuota</a>

<a href="http://localhost:8090/cuota/rut-estudiante-listar" class="boton">Buscar cuotas de un estudiante</a>

<a href="http://localhost:8090/cuota/rut-estudiante-listar-p" class="boton">Pagar cuotas estudiante</a>

<a href="http://localhost:8090/cargar-archivo" class="boton">Subida de archivos</a>

<a href="http://localhost:8090/estudiante/resumen-estado-pago" class="boton">Resumen de estado de pagos</a>


</body>
</html>